h1 {
    color: rgb(255, 107, 49);
    text-align: center;
    font-size: xxx-large;
    
}
h3 {
    color: rgb(255, 107, 49);
    font-size: xxx-large;
    text-align: center;
}
h5 {
    font-size: large;
}
form {
    text-align: left;
}
body {
    background: whitesmoke;
    font: small-caps;
    color: rgb(255, 107, 49);
}
table {
    color: black;
    line-height: 2;
}
.table {
    border-collapse: collapse;
  }
  th {
      height: 50px;
      width: 100px;
  }
  tr {
      width: 75%;
  }
  
  table, th, td {
    border: 1px solid black;
    text-align: center;
  }
.center1 {
    text-align: center;
    font-family: Georgia, serif;
}
.center2 {
    text-align: center;
    font-family: Georgia, serif;
}
.center3 {
    text-align: center;
    font-family: Georgia, serif;
}
.center4 {
    text-align: center;
    font-family: Georgia, serif;
}
.center5 {
    text-align: center;
    font-family: Georgia, serif;
}
.h8{
    font-size: large;
    text-align: center;
}